<div>
  <div class="vth-main-container">
    <h2>Sposób 1</h2>
    <div class="vth-container">
      <div class="vth-container__column">
        <vth-car-make-method-1></vth-car-make-method-1>
      </div>
      <div class="vth-container__column">
        <vth-car-model-method-1></vth-car-model-method-1>
      </div>
    </div>
  </div>

  <div class="vth-main-container">
    <h2>Sposób 2</h2>
    <div class="vth-container">
      <div class="vth-container__column">
        <vth-car-make-method-2></vth-car-make-method-2>
      </div>
      <div class="vth-container__column">
        <vth-car-model-method-2></vth-car-model-method-2>
      </div>
    </div>
  </div>

  <div class="vth-main-container">
    <h2>Sposób 3</h2>
    <div class="vth-container">
      <div class="vth-container__column">
        <vth-car-make-method-3></vth-car-make-method-3>
      </div>
      <div class="vth-container__column">
        <vth-car-model-method-3></vth-car-model-method-3>
      </div>
    </div>
  </div>

  <div class="vth-main-container">
    <h2>Sposób 4</h2>
    <vth-car-viewer-method-4></vth-car-viewer-method-4>
  </div>
</div>
