h2 {
  text-align: center;
  background-color: lightseagreen;
}

.vth-main-container {
  width: 90%;
  margin: 20px;
}

.vth-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  .vth-container__column {
    margin-right: 70px;
    padding: 5px;
    background-color: #F5F5F5;
  }
}

vth-car-viewer-method-4 {
  display: block;
}
